<div class="note-box" data-note-id="{{ note.id }}">
    <a href="{{ url_for('edit_note', note_id=note.id) }}">
        <h3 class="note-box-title">{{ note.title }}</h3>
        {% if note.owner %}
        <h6><strong>Owner:</strong> {{ note.owner }}</h6>
        {% endif %}
        <p>{{ note.content }}</p>
    </a>

    <ul class="tag-list">
        <li class="tag-subject"><strong>{{ note.subject }}</strong></li>
        {% for tag in note.tags %}
        <li class="tag-item">
            <span>{{ tag.name }}</span>
            <button class="remove-tag-btn" data-note-id="{{ note.id }}" data-tag-id="{{ tag.id }}">&times;</button>
        </li>
        {% endfor %}
    </ul>

    <div class="note-actions">
        <button class="open-modal-btn" data-modal="change-tags-modal-{{ note.id }}" title="Change Tags"><i class="fas fa-tag"></i></button>
        <button class="open-modal-btn" data-modal="share-note-modal-{{ note.id }}" title="Share"><i class="fas fa-share-alt"></i></button>
        <button class="open-modal-btn" data-modal="copy-note-modal-{{ note.id }}" title="Copy"><i class="fas fa-copy"></i></button>
        <button class="open-modal-btn" data-modal="delete-note-modal-{{ note.id }}" title="Delete"><i class="fas fa-trash-alt"></i></button>
    </div>

    {% include 'partials/modals/change_tags.html' %}
    {% include 'partials/modals/share_note.html' %}
    {% include 'partials/modals/copy_note.html' %}
    {% include 'partials/modals/delete_note.html' %}
</div> 