<div id="change-tags-modal-{{ note[0] }}" class="modal">
    <div class="modal-content">
        <span class="close-btn">&times;</span>
        <h3>Change tags</h3>
        <div class="form-group">
            <div class="form-label">Select Tags</div>
            <div class="form-element">
                {% for tag in tags %}
                <label>
                    <input type="checkbox" class="tag-checkbox" data-tag-id="{{ tag[0] }}" data-note-id="{{ note[0] }}"
                        {% if tag[0] in note[5] %}checked{% endif %}>
                    {{ tag[1] }}
                </label><br>
                {% endfor %}
            </div>
        </div>
    </div>
</div>