<div id="change-tags-modal-{{ note.id }}" class="modal">
    <div class="modal-content">
        <span class="close-btn">&times;</span>
        <h3>Change tags</h3>
        <div class="form-group">
            <div class="form-label">Select Tags</div>
            <div class="form-element">
                {% for tag in tags %}
                <label>
                    <input type="checkbox" class="tag-checkbox" data-tag-id="{{ tag.id }}" data-note-id="{{ note.id }}"
                        {% if tag.id in note.tag_ids %}checked{% endif %}>
                    {{ tag.name }}
                </label><br>
                {% endfor %}
            </div>
        </div>
    </div>
</div>