<div id="share-note-modal-{{ note.id }}" class="modal">
    <div class="modal-content">
        <span class="close-btn">&times;</span>
        <h3>Manage Sharing</h3>

        {% include 'partials/update/share_list.html' %}

        <div class="add-share-box">
            <input type="text" id="new-user-name" placeholder="Share with...">
            <select id="new-user-permission">
                <option value="0">Read</option>
                <option value="1">Edit</option>
                <option value="2">Manage</option>
            </select>
            <button id="add-share-btn">Share</button>
        </div>
    </div>
</div>