<div id="change-password-modal" class="modal">
    <div class="modal-content">
        <span class="close-btn">&times;</span>
        <h3>Change Username</h3>

        <form method="POST" action="{{ url_for('modify_account', action='password') }}">
            <div class="form-group">
                <div class="form-label">Old Password</div>
                <div class="form-element">
                    <input type="password" id="old-password" name="old-password" maxlength="70" required>
                </div>
            </div>

            <div class="form-group">
                <div class="form-label">New Password</div>
                <div class="form-element">
                    <input type="password" id="new-password" name="new-password" placeholder="New Password" minlength="8" maxlength="70" required>
                </div>
                <div class="form-element">
                    <input type="password" id="new-password2" name="new-password2" placeholder="Confirm Password" minlength="8" maxlength="70" required>
                </div>
            </div>

            <div class="button-group">
                <button type="button" class="close-btn">Cancel</button>
                <button type="submit" class="apply-btn">Apply Changes</button>
            </div>
        </form>
    </div>
</div>