<div id="change-password-modal" class="modal">
    <div class="modal-content">
        <span class="close-btn">&times;</span>
        <h3>Change Username</h3>

        <form method="POST" action="">
            <div class="form-group">
                <div class="form-label">Change Name</div>
                <div class="form-element">
                    <input type="password" id="change-name" name="change-name">
                </div>
            </div>

            <div class="button-group">
                <button type="button" class="close-btn">Cancel</button>
                <button type="submit" class="apply-btn">Apply Changes</button>
            </div>
        </form>
    </div>
</div>