<div id="change-name-modal" class="modal">
    <div class="modal-content">
        <span class="close-btn">&times;</span>
        <h3>Change Username</h3>
        <p><strong>Current username: </strong>{{ session.firstname }} {{ session.lastname }}</p>

        <form method="POST" action="{{ url_for('modify_account', action='username') }}">
            <div class="form-group">
                <div class="form-label">New Name</div>
                <div class="form-element">
                    <input type="text" id="change-fname" name="change-fname" placeholder="First Name" maxlength="100" required>
                </div>
                <div class="form-element">
                    <input type="text" id="change-lname" name="change-lname" placeholder="Last Name" maxlength="100" required>
                </div>
            </div>

            <div class="button-group">
                <button type="button" class="close-btn">Cancel</button>
                <button type="submit" class="apply-btn">Apply Changes</button>
            </div>
        </form>
    </div>
</div>