<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Unnamed Note Website | {{ title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css"/>
        <link href="/static/style.css" rel="stylesheet">
    </head>
    <body>
        <nav>
            <div class="container">
                <div class="navbar-brand">Unnamed Note Website</div>
                <div class="navbar-links">
                    <a href="/">Home</a>
                    <a href="/about">About</a>
                    {% if logged_in %}
                    <a href="/dashboard">Dashboard</a>
                    <a href="/account">Account</a>
                    <a href="/logout">Logout</a>
                    {% else %}
                    <a href="/login">Login</a>
                    {% endif %}
                </div>
            </div>
        </nav>
        <div class="container">
            <header>
                {% block pageheading %}
                {% endblock %}
            </header>
            <main>
                {% block main %}
                {% endblock %}
            </main>
            <footer>

            </footer>
        </div>
    </body>
</html>