{% extends 'base.html' %}

{% block pageheading %}
<h2>Dashboard</h2>
{% endblock %}

{% block main %}
<div class="button-group">
    <button class="open-modal-btn" data-modal="new-note-modal">New Note or upload file</button>
</div>

{% include 'partials/modals/new_note.html' %}

<div class="note-group">
    <h3>Recent notes</h3>
    <div class="notes">
    {% for note in notes %}
        {% include 'partials/note_box.html' %}
    {% endfor %}
    </div>
</div>

<!-- <div class="note-group">
    <h3>Shared with me</h3>
    <div class="notes">
    {% for note in shared %}
        <div class="note-box">
            <h3 class="note-box-title">{{ note[1] }}</h3>
            <p>{{ note[2] }}</p>
            <ul class="tag-list">
                <li><strong>{{ note[3] }}</strong></li>
                {% for tag in note[4] %}
                <li>{{ tag }}</li>
                {% endfor %}
            </ul>
            <p><strong>Shared by:</strong> {{ note[5] }}</p>
        </div>
    {% endfor %}
    </div>
</div> -->

<script src="/static/script.js"></script>
{% endblock %}