{% extends 'base.html' %}

{% block pageheading %}
<h2>Dashboard</h2>
{% endblock %}

{% block main %}
<div class="note-group">
    <h3>My notes</h3>
    <div class="notes">
    {% for note in notes %}
        <div class="note-box">
            <h3 class="note-box-title">{{ note[0] }}</h3>
            <p>{{ note[2] }}</p>
            <ul class="tag-list">
                <li><strong>{{ note[1] }}</strong></li>
                {% for tag in note[3] %}
                <li>{{ tag }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
    </div>
</div>

<div class="note-group">
    <h3>Shared with me</h3>
    <div class="notes">
    {% for note in shared %}
        <div class="note-box">
            <h3 class="note-box-title">{{ note[0] }}</h3>
            <p>{{ note[2] }}</p>
            <ul class="tag-list">
                <li><strong>{{ note[1] }}</strong></li>
                {% for tag in note[3] %}
                <li>{{ tag }}</li>
                {% endfor %}
            </ul>
            <p>{{ note[4] }}</p>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}