{% extends 'base.html' %}

{% block pageheading %}
<h2>Detail</h2>
{% endblock %}

{% block main %}
<h3 class="tutorial-box-subject">{{ detail[0][0] }}</h3>
<p>{{ detail[0][1] }}</p>
<p><strong>Year Level: </strong>{{ detail[0][2] }}</p>
<p><strong>Time:</strong> {{ detail[0][3] }}</p>
<p><strong>Day:</strong> {{ detail[0][10] }}</p>
<p><strong>Location:</strong> {{ detail[0][4] }}</p>
<p><strong>Tutor:</strong> {{ detail[0][5] }} {{ detail[0][6] }}</p>
{% if logged_in %}
{% if session.userid == detail[0][8] %}
<a href="/delete/{{ detail[0][7] }}">Delete session</a>
{% elif detail[0][9] == None %}
<a href="/book/{{ detail[0][7] }}">Book session</a>
{% elif session.userid == detail[0][9] %}
<a href="/cancel/{{ detail[0][7] }}">Cancel booking</a>
{% endif %}
{% else %}
<p><a href="/login">Log in</a> to book sessions</p>
{% endif %}
{% endblock %}