{% extends 'base.html' %}

{% block pageheading %}
<h2>Signup</h2>
{% endblock %}

{% block main %}
    {% if error %}
    <div class="error-message">{{ error }}</div>
    {% endif %}

    <form method="post">
        <div class="form-group">
            <div class="form-label">First Name</div>
            <div class="form-element"><input id="fname" name="fname" type="text" required value="{{ form_data.fname }}" maxlength="100"></div>
        </div>

        <div class="form-group">
            <div class="form-label">Last Name</div>
            <div class="form-element"><input id="lname" name="lname" type="text" required value="{{ form_data.lname }}" maxlength="100"></div>
        </div>

        <div class="form-group">
            <div class="form-label">Email</div>
            <div class="form-element"><input id="email" name="email" type="email" required value="{{ form_data.email }}" maxlength="150"></div>
        </div>

        <div class="form-group">
            <div class="form-label">Password</div>
            <div class="form-element"><input id="password" name="password" type="password" required minlength="8" maxlength="70"></div>
        </div>

        <div class="form-group">
            <div class="form-label">Confirm Password</div>
            <div class="form-element"><input id="password2" name="password2" type="password" required></div>
        </div>

        <div class="form-group">
            <div class="form-label">Role</div>
            <div class="form-element">
                <select name="role" id="role" required>
                    <option disabled selected value> -- select an option -- </option>
                    <option value="0">Student</option>
                    <option value="2">Admin</option>
                </select>
            </div>
        </div>

        <div class="form-group" id="admin-password-group" style="display: none;">
            <div class="form-label">Admin Password</div>
            <div class="form-element"><input id="admin-password" name="admin-password" type="password" maxlength="20"></div>
        </div>
            
        <div class="button-group">
            <input type="submit" value="Submit">
            <input type="reset" value="Reset">
            <p>Already have an account? <a href="{{ url_for('login') }}">Login</a></p>
        </div>
    </form>

    <script src="/static/script.js"></script>
{% endblock %}